<html>

    <body>

        <h1>GMP DWH data interface</h1>

        <ul>
            <li>
                <a href="">AIR / Passive / PCB-125</a>
                <a href="">AIR / Passive / PCB-126</a>
            </li>
        </ul>

    </body>

</html>